.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C394E;
    padding: 32px 52px;
}

.footer__elements {
    color: #F8FDFE;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
