.header {
    width: 100%;
    background-color: #EEEEEF;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-backet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* s */
    padding: 16px 52px;
    background: #10BBD5;
    margin: 0 auto;
}

.right-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.right-block__price-summary {
    line-height: 24px;
    font-size: 16px;
    color: #F8FDFE;
}

.right-block__cart-button {
    width: 40px;
    height: 40px;
    background: #10BBD5;
}

.right-block__cart-image {
    position: fixed;
    top: 16px;
    right: 53px;
    z-index: 2;
}

.right-block__zero-cart {
    position: fixed;
    top: 28px;
    right: 66px;
    z-index: 3;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1296px; */
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 24px;
    background-color: white;
}

.menu__menu-part {
    line-height: 24px;
    font-size: 16px;
}

.menu__shop-link {
    text-decoration: none;
    color: black;
}

.menu__right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


