
@import "header";
@import "styles";
@import "footer";

body {
    font-family: Cabin;
}

main {
    padding-left: 52px;
    padding-right: 52px;
    background-color: #EEEEEF;
    padding-bottom: 120px;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.main__site-title {
    font-size: 32px;
    color: #1F1F1F;
    font-weight: 600;
    line-height: 40px;
    padding: 32px 0;
    margin: 0 0;
    border-bottom: 1px solid #A8A8A8;
    background: #EEEEEF;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EEEEEF;
    padding-top: 24px;
    gap: 24px;
}

.card-container {
    width: 242px;
    height: 448px;
    padding: 32px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: auto;
    gap: 16px;

}


.card-container__book-image {
    width: 178px;
    height: 280px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: white;
}

.card-container__book-name {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin: 0px;
    border-bottom: 1px solid #8E8E8E;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.card-container__book-author{
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
}

.card-container__book-price {
    display: inline;
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    padding-right: 24px;
    margin: 0px;
}

.main__cards-list--old-price {
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin: 0px;
    text-decoration: line-through;
}


.card-container__buybook-button {
    justify-content: flex-end;
    align-self: center;
    align-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 242px;
    background-color: #4C394E;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-container__buybook-button2 {
    justify-content: flex-end;
    align-self: center;
    align-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 242px;
    background-color: #4D762D;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-container__markers {
    position: absolute;  
    top: 32spx;
    left: 32px;
    z-index: 2;
}

.card-container__first-marker {
    border-radius: 4px;
    display: inline-block;
    background: #4200FF;
    padding: 4px 8px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-container__second-marker {
    border-radius: 4px;
    display: inline-block;
    background: #4200FF;
    padding: 4px 8px;
    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.card-container__first-marker.card-container__first-marker--pink {
    background: #EA33C0;
}

.card-container__first-marker.card-container__first-marker--purple {
    background: #AF39E7;
}

.card-container__second-marker.card-container__second-marker--pink {
    background: #EA33C0;
}

.main__chat-button {
    height: 64px;
    width: 64px;
    border-radius: 90px;
    background-color: #10BBD5;
    position: absolute;
    top: 659px;
    right: 24px;
    z-index: 1;
    border: 0px;

}

.main__chat-picture {
    height: 51px;
    width: 51px;
    position: absolute;
    top: 667px;
    right: 30px;
    z-index: 2;
}

